.dot-nav {
    position: fixed;
    top: 35%;
    right: 45px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#navbar-main {
    background-color: #afc0c5;
}

.nav-link-top {
  color: #836469;
  text-decoration: none;
  font-weight: bolder;
}

.nav-item{
    margin-left: 15px;
}

.nav-link-top:hover {
  color: #000000;
  align-items: baseline;
}

.nav-link {
    width: 15px;
    height: 15px;
    background-color: rgb(182, 188, 192);
    border-radius: 50%;
    display: block;
}

.navbar {
    background-color: #888888;
}

.navbar-brand {
    color: #4d6547;
    font-weight: bolder
}

.search-bar {
    width: 35%;
    margin-left: 40%;
}

.search-button {
    width: 20%
}

.nav-link:hover {
    background-color: #000000;
}

.nav-link.active {
    background-color: #000000;
}

.tooltip-inner {
    background-color: transparent;
    color: #000000;
    font-weight: bold;
}

#container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

body {
    background-color: #e5eff5;
}

section {
    background-color: #fafafa;
    padding-top: 50px;
    margin-top: 120px;
    padding-bottom: 500px;
    height: 600px;
    width: 1200px;
}

.intro-name {
    text-align: center;
    top: 50%;
    font-family:monospace;
    margin-top: 10%;
    margin-bottom: 2%;
}

.intro-name2 {
    text-align: center;
    top: 50%;
    font-family:monospace;
    margin-top: 5%;
}

.about-text {
    margin-left: 40%;
    margin-right: 10%;
    margin-top: 5%;
}

.about-image {
    width: 30%;
}

.tud-image {
    width: 30%;

}

.nav-years {
    color: #ffffff;
    background-color: #888888;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    border: #ffffff;
}

.nav-years:hover {
    color: #ffffff;
    background-color: #494848;
}

.nav-years.active {
    color: #ffffff;
    background-color: #4d6547;
}

.section-title {
    color: #836469;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
}

.btn {
    color: #ffffff;
    background-color: #1e7c04;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover {
    color: #ffffff;
    background-color: #144a05;
}

.flip-card {
	width: 100%;
    height: 370px;
    position: relative;
    margin-left: 50%;
}

.flip-card-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1.0s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: #f8f9fa;
	color: #000;
}

.flip-card-back {
	transform: rotateY(180deg);
}

.card-img-top {
	max-height: 350px;
	object-fit: cover;
    width: 100%;
}

.card-text {
    margin-left: 10%;
    margin-right: 10%;
    text-decoration: none;
}

.grade-btn {
    background-color: #888888;
    color: #ffffff;
    display: block;
    margin: auto;
}

.grade-btn:hover {
    background-color: #494848
}

.card-body {
    background-color: #fafafa;
    border: 0cap;
}

.acord-section {
    z-index: 20;
    position: relative;
}

.carousel-text {
    color: #e7e7e7;
    background-color:#836469;
    font-weight: bolder;
    border-radius: 5px;
}

.carousel-btn {
    background-color: #888888;
}

.carousel-btn:hover {
    background-color: #494848;
}

.proj-carousel {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
}

.img-carousel {
    width:  100px;
    height: 400px;
    object-fit: cover;
}

.work-flip-card {
	width: 100%;
    height: 370px;
    position: relative;
    margin-right: 50%;
    margin-left: 20%;
}

.work-flip-card-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1.0s;
	transform-style: preserve-3d;
}

.work-flip-card:hover .work-flip-card-inner {
	transform: rotateY(180deg);
}

.work-flip-card-front,
.work-flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.work-flip-card-front {
	background-color: #f8f9fa;
	color: #000;
}

.work-flip-card-back {
	transform: rotateY(180deg);
}

.work-card-img-top {
	max-height: 350px;
	object-fit: cover;
    width: 100%;
}

.work-card-text {
    margin-left: 10%;
    margin-right: 10%;
    text-decoration: none;
}

.acord-div {
    margin-left: 20%;
}

.prog {
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
}

.drop-img {
    margin-left: 8%;
}

.logo-img {
    width: 7%;
    border-radius: 100%;
    margin-left: 30%;

}

.logo-img:hover {
  transform: scale(1.3) rotate(20deg);
}

.logo-img2 {
    width: 7%;
    border-radius: 100%;
    margin-left: 1%;
}

.logo-img2:hover {
  transform: scale(1.3) rotate(20deg);
}

.input-label {
    display: flex;
    gap: 15%;
    margin-top: 5%;
}
.input-label-msg {
    display: flex;
    gap: 4%;
    margin-top: 5%;
}

.form-btn {
    background-color: #888888;
    margin-left: 45%;
}

.form-btn:hover {
    background-color: #494848;
}

.contact-info {
    margin-left: 8%;
}

.contacts {
    margin-left: 15%;
}
.contacts2 {
    margin-left: 25%;
}

.gal-img {
    margin-left: 50%;
    width: 100%;
    height: 100%;
}

.gal-text {
    margin-left: 55%;
}

.gal-select {
    margin-left: 37%;
}

.modal-img {
    margin-left: 20%;
}

.intro-sec {
    position: relative;
    background: #e5eff5;
}

.intro-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.intro-content {
    position: relative;
}

.logo-img-intro-g {
    width: 5%;
    border-radius: 100%;
    margin-left: 44%;
    margin-right: 3%;

}

.logo-img-intro-g:hover {
  transform: scale(1.3) rotate(20deg);
}

.logo-img-intro-l {
    width: 5%;
    border-radius: 100%;
    align-items: center;

}

.logo-img-intro-l:hover {
  transform: scale(1.3) rotate(20deg);
}

.intro-btn-joke {
    background-color: #888888;
    margin-left: 38%;
    margin-right: 4%;
    margin-top: 2%;
}

.intro-btn-joke:hover {
    background-color: #494848;
}

.intro-btn {
    background-color: #888888;
    margin-top: 2%;
}

.intro-btn:hover {
    background-color: #494848;
}

.comp-link {
    text-decoration: none;
    color: #e7e7e7;
    background-color:#836469;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 40%;
}

.comp-link:hover {
    text-decoration: none;
    color: #e7e7e7;
    background-color:#5c4649;
}